
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* background-color: #FFFFFF; */
    display: grid;
    grid-template-columns: 218px repeat(4,1fr);
    grid-template-rows: 56px 1fr;
}


/*--------------HEADER--------------*/
.header{
    /* background-color: orange; */
    width: 100%;
    height: 56px;
    padding: 0 24px 0 24px;
    grid-row: span 1;
    grid-column: span 5;
    display: grid;
    grid-template-columns: 1fr 3fr 130px;
    grid-template-rows: 56px;
    align-items: center;
    justify-items: center;
}
.header .left{
    justify-self: center;
    width: 100%;
    height: 100%;
}
.header .left div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 50%;
    justify-items: left;
    align-items: center;
    gap: 32px;
    cursor: pointer;
}

.header .left div img:last-of-type {
    justify-self: left;
}

.header .center{
    width: 100%;
    height: 40px;
}

.header .center div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 348px 57px;
    justify-content: center;

}
.header .center div input{
    border: 1px solid #CCCCCC;
}

.header .center div button{
    border: 1px solid   #CCCCCC;
    border-left: none;
}

.header .rigth{
    width: 100%;
    height: 34px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3,34px);
    /* gap: 24px; */
    
}

.header .rigth div{
   height: 34px;
   width: 100%;
}

.header .rigth div img{
    width: 100%;
    padding: 5px;
}

.header .rigth div #avatar{
    padding: 0;
}







/*--------------SIDEBAR--------------*/
.sidebar{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: span 1;
}
.sidebar nav{
    /* border: 1px solid brown; */
    padding: 24px 0 0 24px;
    height: 100%;
}
.sidebar nav ul{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10,24px);
    /* align-items: center;
    align-content: start; */
    justify-content: space-between;
    gap: 22px;
}

.sidebar nav ul li button{
    background: none;
    width: 100%;
    display: grid;
    grid-template-columns: 24px auto;
    gap: 16px;
    font-size: 14px;
    align-items: center;
    justify-content: left;
}
.sidebar nav ul li button.primeiro span{
    font-weight:700;
}



/*--------------MAIN--------------*/
.main{
    background-color:#F9F9F9;
    width: 100%;
    height: 100%;
    grid-column: span 5;
    grid-row: 2;
    gap: 14px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4,282px);
    grid-template-rows: repeat(3,262px);
    padding: 24px 24px 130px 28px;
}

.main  .card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 141px 74px;
    justify-items: center;
    padding: 16px;
    border-radius: 4px;
    gap: 16px;
    align-content: space-between;
    
}

.main  .card .cartaz{
    width: 250px;
    height: 141px;
}

.main  .card .info-cartaz{
    display: grid;
    grid-template-columns: 42px 197px;
    column-gap: 10px;

}

.main .card .info-cartaz .logo-dio,
 .main .card .info-cartaz .logo-dio img{
    width: 42px;
    height: 42px;
}

.main  .card .info-cartaz .texto{
    display: grid;
    /* grid-template-rows: repeat(2,32px); */
    font-size: 12px;
}
.main  .card .info-cartaz .texto h1{
    font-size: 12px;
    font-weight: 600;
}
.main .card .info-cartaz .texto span{
    display: grid;
    align-items: center;
    color:#515151 ;
    font-weight: 400;
}
.main .card .info-cartaz .texto span:first-of-type{
    /* color: red; */
    align-self: flex-end ;
}